@font-face {
    font-family: "BejuryuFont";
    src: url("/assets/fonts/BejuryuFont.ttf");
  }

.tab {
  float: left;
  background-color: #f1f1f1;
  width: 15%;
  height: calc(93% - 60px);
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: auto;
  padding: 10px 20px;
  padding-left: 18%;
  border: 1px solid #ccc;
  width: 100%;
  height: calc(93% - 80px);
}