.container {
    height: calc(87vh);
    font-size: 28px;
    margin: 0px;
    display: flex;
    flex-flow: column wrap;
}

#name {
    font-size: 42px;
    font-weight: bold;
}

#address {
    color: gray;
    font-size: 18px;
    margin-top: 12px;
}

#companyNumber {
    color: black;
    font-size: 18px;
    margin-top: 6px;
}

ul, .info {
    list-style-type: none;
    margin: 0px;
    padding: 0px 12px;
}

.multiColumn {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
}

.multiColumn ul{
    width: 50%;
    padding: 0px 12px;
}

div.header {
    width: auto;
    font-size: 24px;
    font-weight: bold;
}

div.content {
    font-size: 18px;
    margin: 6px 0px;
}