

.info-page {
  height: calc(93% - 15px);
  width: 100%;
  background-color: #5f7a61;
  justify-content: center;
}

.left-page {
  height: 100%;
  width: 40%;
  background-color: white;
  float: left;
  margin-left: 10%;
}

.left-page ol {
  list-style-type: none;
  padding: 5%;
}

.left-page li {
  text-align: center;
}

.left-page img {
  height: 50%;
  width: 80%;
}

.left-page a {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

.right-page {
  height: 100%;
  width: 40%;
  background-color: #d5eebb;
  float: left;
  margin-right: 10%;
  justify-content: center;
}

.startup-info {
  height: 95%;
  width: 90%;
  background-color: #e2ead9;
  margin: auto;
}

.startup-info ol {
  padding-top: 5%;
  list-style-type: none;
}

.startup-info a {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  line-height: 400%;
}

.startup-info a:link {
  color: black;
  text-decoration: none;
}

.startup-info a:visited {
  color: black;
  text-decoration: none;
}

.startup-info a:hover {
  color: #5f7a61;
}

.pdf-download button {
  margin-top: 5%;
  background-color: rgb(177, 177, 177);
  font-size: 18px;
  font-weight: 550;
  color: black;
  height: 80px;
  width: 450px;
  border: none;
  border-radius: 20px;
}

header {
  background-color: #323232;
  padding: 8px 12px;
}

footer {
  background-color: #323232;
  font-weight: 600;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; /* 높이 조정 */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323232;
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: white;
  align-items: center;
}
/* 
.navbar__logo i {
  color: red;
  margin-left: 30px;
} */

.navbar__logo a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.navbar__menu a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.navbar__menu li:hover {
  background-color: yellow;
  border-radius: 5px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding-left: 0;
  margin: 0;
}

.navbar__menu li {
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  /* margin-top: 10px; */
}
